@model IEnumerable<eduManage.Models.TblClassMember>
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<div class="mt-5">
						<h4 class="card-title float-left mt-2">Dach sách thành viên</h4> <a asp-action="Create" asp-controller="ClassMembers" asp-route-id="@ViewBag.ClassId" class="btn btn-primary float-right veiwbutton">Thêm mới</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body booking_card">
						<div class="table-responsive">
							<table class="datatable table table-stripped table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Stt</th>
										<th>Tên</th>
									
										<th>trạng thái</th>
										<th>ngày tham gia</th>
										<th>tiến độ</th>
										<th>điểm</th>
									
									

										<th class="text-right">Tác vụ</th>
									</tr>
								</thead>
								<tbody>
									@{
										int stt = 0;
									}
									@foreach (var item in Model)
									{

										<tr>
											<td>@(stt++)</td>
											<td>
                                                @item.User.FullName
											</td>
											<td>@item.Status</td>
											<td>@item.JoinDate.Value.ToString("dd/MM/yyyy")</td>
											<td>@item.Progress</td>
											<td>@item.FinalScore</td>
											
		
											<td class="text-right">
												<div class="dropdown dropdown-action">
													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.MemberId"><i class="fas fa-pencil-alt m-r-5"></i> Sửa</a>
														
														<a class="dropdown-item" asp-action="Delete" asp-route-id="@item.MemberId" data-target="#delete_asset"><i class="fas fa-trash-alt m-r-5"></i>xoá</a>
													</div>
												</div>
											</td>
										</tr>

									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="delete_asset" class="modal fade delete-modal" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body text-center">
					<img src="assets/img/sent.png" alt="" width="50" height="46">
					<h3 class="delete_class">Are you sure want to delete this Asset?</h3>
					<div class="m-t-20">
						<a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
